.forgotpassword-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(140, 179, 182);
  opacity:0.8;
}

.forgotpassword-screen-form {
  width: 500px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  background: #fff;
}

.forgotpassword-screen-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
}

.forgotpassword-screen-subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
  color: #000;
  font-weight: bold;
}
